
extends ../layout
block content
    h1.
        #{title}
    ul
        - each contact, i in contacts
              div(data-role="horizontal", style="margin-bottom: 10px;';")#container
                h3 #{contact.firstName}
                p  #{contact.lastName}
                p  #{contact.phoneNumber}
                p  #{contact.company}

                button(onclick='edit("#{contact._id}")', style='float:left;') Edit

                form(action='/contacts/#{contact._id}/update', method='post', enctype='application/x-www-form-urlencoded', style='display: inline-block;align:center;')
                    input(type='hidden', value='DELETE', name='_method')
                    button(type='submit').
                        Delete

                button(onclick='more("#{contact._id}")', style='float:right;') More




    script.
        function edit(id) {
            window.location.href = '/contacts/' + id +'/update'
        }
        function more(id) {
            window.location.href = '/contacts/' + id
        }